@import "../../scss-partials/variables";

.confirmation-message {
  padding-left: 20px;
}

.error-container {
  background-color: $error-confirmation-bg;
}

.error-container .confirmation-message,
.error-container .error-icon {
  color: $error-confirmation-text;
}

.success-container {
  background-color: $success-confirmation-bg;
}

.success-container .confirmation-message,
.success-container .success-icon {
  color: $success-confirmation-text;
}