<div *ngIf="error">
    <app-confirmation messageType="error"
                      messageText="Error: {{errorMessage}}"
                      (closeM)="closeErrorMessage($event)"></app-confirmation>
</div>
<div *ngIf="success">
    <app-confirmation messageType="success"
                      messageText="Thanks for your registration."
                      (closeM)="closeSuccessMessage($event)"></app-confirmation>
</div>
<div class="main-content">
    <div class="container" fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutAlign="space-around"
         fxLayoutAlign.md="space-evenly" fxLayoutAlign.xs="center center" fxFlex.xs="100%">
        <div class="column">
            <h3 class="title lato-regular margin-bottom-15">Create Your FXPRIMUS Profile</h3>
            <form (ngSubmit)="onSignup()" #f="ngForm">
                <mat-form-field class="input-full-width">
                    <mat-select placeholder="Client Type"
                                [(ngModel)]="currentClientType"
                                name="clientType"
                                required
                                #clientType="ngModel">
                        <mat-option *ngFor="let cT of clientTypes" [value]="cT">
                            {{cT | titlecase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="error-msg lato-regular" *ngIf="country.invalid && country.touched">
                    <span *ngIf="country.errors['required']">Country is required!</span>
                </div>
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="First Name"
                           type="text"
                           id="firstName"
                           name="firstName"
                           ngModel
                           required
                           appOnlyTextValidator
                           #firstName="ngModel">
                </mat-form-field>
                <div class="error-msg" *ngIf="firstName.invalid && firstName.touched">
                    <p *ngIf="firstName.errors['required']">First name is required!</p>
                    <p *ngIf="firstName.errors['notText'] && (firstName.errors['required'] !== true)">Please use Basic
                        Latin characters only.</p>
                </div>
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="Last Name"
                           type="text"
                           id="lastName"
                           name="lastName"
                           ngModel
                           required
                           appOnlyTextValidator
                           #lastName="ngModel">
                </mat-form-field>
                <div class="error-msg" *ngIf="lastName.invalid && lastName.touched">
                    <p *ngIf="lastName.errors['required']">Last name is required!</p>
                    <p *ngIf="lastName.errors['notText'] && (lastName.errors['required'] !== true)">Please use Basic
                        Latin characters only.</p>
                </div>
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="Email"
                           type="email"
                           id="email"
                           name="email"
                           [(ngModel)]="emailUsername"
                           required
                           email
                           #email="ngModel">
                </mat-form-field>
                <div class="error-msg lato-regular" *ngIf="email.invalid && email.touched">
                    <p *ngIf="duplicatedEmail">Choose another Email address!</p>
                    <p *ngIf="email.errors['required'] && duplicatedEmail === false">Email is required!</p>
                    <p *ngIf="email.errors['email']">Please enter a valid Email address.</p>
                </div>
                <mat-form-field class="input-full-width">
                    <mat-select placeholder="Country" [(ngModel)]="currentCountry" name="country" required
                                #country="ngModel" (selectionChange)="onCountryChange($event.value)">
                        <mat-option *ngFor="let country of countries" [value]="country.country_code">
                            {{country['country_name']}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="error-msg lato-regular" *ngIf="country.invalid && country.touched">
                    <span *ngIf="country.errors['required']">Country is required!</span>
                </div>
                <div id="contact-data" fxLayout="row wrap" fxLayoutAlign="space-between" ngModelGroup="contactData">
                    <mat-form-field class="input-phone-code">
                        <input matInput placeholder="Phone Code"
                               type="text"
                               id="countryCode"
                               name="countryCode"
                               ngModel
                               required
                               #countryCode="ngModel" value="{{dealingCode}}" disabled>
                    </mat-form-field>
                    <mat-form-field class="input-phone-number">
                        <input matInput placeholder="Phone Number"
                               type="text"
                               id="phoneNumber"
                               name="phoneNumber"
                               ngModel
                               required
                               #phoneNumber="ngModel">
                    </mat-form-field>
                </div>
                <div class="error-msg lato-regular" *ngIf="countryCode.invalid && countryCode.touched">
                    <span *ngIf="countryCode.errors['required']">Phone code is required!</span>
                </div>
                <div class="error-msg lato-regular" *ngIf="phoneNumber.invalid && phoneNumber.touched">
                    <span *ngIf="phoneNumber.errors['required']">Phone number is required!</span>
                </div>
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="Username"
                           type="text"
                           id="username"
                           name="username"
                           [(ngModel)]="emailUsername"
                           required
                           disabled
                           #username="ngModel">
                </mat-form-field>
                <div class="error-msg lato-regular" *ngIf="username.invalid && username.touched">
                    <span *ngIf="duplicatedUsername">Choose another username!</span>
                    <span *ngIf="username.errors['required'] && duplicatedUsername === false">Username is required!</span>
                </div>
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="Password"
                           type="password"
                           id="password"
                           name="password"
                           ngModel
                           required
                           appAtLeastEight
                           appAtLeastOneLower
                           appAtLeastOneUpper
                           appAtLeastOneDigit
                           appAtLeastOneSpecialCharacter
                           #password="ngModel">
                </mat-form-field>
                <div class="error-msg" *ngIf="password.invalid && password.touched">
                    <p *ngIf="password.errors['required']">Password is required!</p>
                    <p *ngIf="password.errors['notEight'] && (password.errors['required'] !== true)">Password should
                        be at least 8 characters long!</p>
                    <p *ngIf="password.errors['notLower'] && (password.errors['required'] !== true)">Password should
                        have at least one lower case!</p>
                    <p *ngIf="password.errors['notUpper'] && (password.errors['required'] !== true)">Password should
                        have at least one upper case!</p>
                    <p *ngIf="password.errors['notDigit'] && (password.errors['required'] !== true)">Password should
                        have at least one digit!</p>
                    <p *ngIf="password.errors['notSpecialCh'] && (password.errors['required'] !== true)">Password
                        should have at least a special character!</p>
                </div>
                <button mat-raised-button class="input-full-width lato-regular"
                        type="submit"
                        [disabled]="f.invalid">Sign Up
                </button>
            </form>
        </div>
        <div class="column">
            <div class="text-center">
                <img src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/Cb547ee6ef0e3138273a7d38acc95b3de/projects/Me642693544dc52a5791804a0b612e2fa1538463248102/images/M6df96089618ae126d2676ce03de08f8b1538473180194">
            </div>
            <h3 class="title text-center lato-regular">The Safest Place to Trade</h3>
            <mat-list>
                <mat-list-item>
                    <mat-icon matListIcon>
                        <img class="img-icon"
                             src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/Cb547ee6ef0e3138273a7d38acc95b3de/projects/Me642693544dc52a5791804a0b612e2fa1538463248102/images/M595f41bfbd584d4a67998180f53537a41538559402801">
                    </mat-icon>
                    <p class="lato-regular">Your funds are insured up to 2.5 millions</p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>
                        <img class="img-icon"
                             src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/Cb547ee6ef0e3138273a7d38acc95b3de/projects/Me642693544dc52a5791804a0b612e2fa1538463248102/images/M3b5dc0821883eff4008758617ac58cfd1538473181004">
                    </mat-icon>
                    <p class="lato-regular"> Verify every transaction executed through your broker on the blockchain</p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>
                        <img class="img-icon"
                             src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/Cb547ee6ef0e3138273a7d38acc95b3de/projects/Me642693544dc52a5791804a0b612e2fa1538463248102/images/Mdeaf15fd810ae5876a0506285ea2de851538473181734">
                    </mat-icon>
                    <p class="lato-regular">Negative balance protection</p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>
                        <img class="img-icon"
                             src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/Cb547ee6ef0e3138273a7d38acc95b3de/projects/Me642693544dc52a5791804a0b612e2fa1538463248102/images/M1b3cf1616f55d93a3567a155d333c64b1538473182269">
                    </mat-icon>
                    <p class="lato-regular">24/5 Live customer support</p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>
                        <img class="img-icon"
                             src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/Cb547ee6ef0e3138273a7d38acc95b3de/projects/Me642693544dc52a5791804a0b612e2fa1538463248102/images/M770ea13d207a98133976cc202b0dc9101538473182894">
                    </mat-icon>
                    <p class="lato-regular">Secure deposits & express withdrawals</p>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>