@import "../../scss-partials/variables";
@import "../../scss-partials/mixins";

.reset-container {
  width: 100%;
  max-width: 400px;
}

.title {
  color: $light-blue-primary;
  font-weight: 400;
  font-size: 22px;
  margin: 0;
}

button[mat-raised-button] {
  background-color: $light-blue-primary;
  margin: 20px 0;
  color: $white-color;
}

button[mat-raised-button]:hover {
  @include hover-color-dark($background-color: $light-blue-primary);
}

button:disabled:hover {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
  cursor: not-allowed;
}

.input-full-width {
  width: 100%;
}