<!--this is the container of all profile feature components-->
<div class="main-content">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="space-between">
    <mat-card id="side-card" fxLayout="column" fxFlex="29%">
      <app-profile-completion id="profile-completion"></app-profile-completion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="2%">
              <i class="material-icons">supervisor_account</i> <span>Directors</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list>
            <a mat-list-item *ngFor="let director of directors; let i = index"
               routerLink="director/{{i}}"
               [routerLinkActiveOptions]="{exact: true}"
               routerLinkActive="active">
              <i class="material-icons">perm_identity</i>
              <p>{{director.first_name | titlecase}} {{director.last_name | titlecase}}</p>
            </a>
          </mat-nav-list>
          <a class="add-director"
             mat-raised-button
             routerLink="/"
             fxLayout="row"
             fxLayoutAlign="center">
            <fa name="plus-circle"></fa>
            <span>Add Director</span>
          </a>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="2%">
              <fa name="users"></fa>
              <span>Shareholders</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list>
            <a mat-list-item *ngFor="let shareHolder of shareHolders; let i = index"
               routerLink="shareholder/{{i}}"
               [routerLinkActiveOptions]="{exact: true}"
               routerLinkActive="active">
              <i class="material-icons">perm_identity</i>
              <p>{{shareHolder.first_name | titlecase}} {{shareHolder.last_name | titlecase}}</p>
            </a>
          </mat-nav-list>
          <a class="add-director"
             mat-raised-button
             routerLink="/"
             fxLayout="row"
             fxLayoutAlign="center">
            <fa name="plus-circle"></fa>
            <span>Add Shareholder</span>
          </a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of sidebarMenuItems"
           [routerLink]="item.link"
           [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="active">
          <i class="material-icons">{{ item.icon }}</i>
          <p>{{ item.title }}</p>
        </a>
      </mat-nav-list>
    </mat-card>
    <mat-card id="left-card" fxLayout="column" fxFlex="69%">
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</div>
