<div *ngIf="errorEmail">
  <app-confirmation messageType="error"
                    messageText="Error"
                    (closeM)="closeErrorMessageEmail($event)"></app-confirmation>
</div>
<div *ngIf="successEmail">
  <app-confirmation messageType="success"
                    messageText="{{emailConfirmationMessage}}"
                    (closeM)="closeSuccessMessageEmail($event)"></app-confirmation>
</div>
<div *ngIf="errorPass">
  <app-confirmation messageType="error"
                    messageText="Error: {{passConfirmationMessage}}"
                    (closeM)="closeErrorMessagePass($event)"></app-confirmation>
</div>
<div *ngIf="successPass">
  <app-confirmation messageType="success"
                    messageText="{{passConfirmationMessage}}"
                    (closeM)="closeSuccessMessagePass($event)"></app-confirmation>
</div>
<div class="main-content">
  <div *ngIf="!hasToken" fxLayout="column" fxLayoutAlign="center center">
    <div class="reset-container">
      <p class="title text-center">Enter your email</p>
      <form (ngSubmit)="submitEmail()" #f="ngForm" fxLayout="column">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Email / Username"
                 type="text"
                 name="username"
                 ngModel
                 required
                 #username="ngModel">
        </mat-form-field>
        <div class="error-msg" *ngIf="username.invalid && username.touched">
          <span *ngIf="username.errors['required']">Email / Username is required!</span>
        </div>
        <button mat-raised-button class="input-full-width"
                type="submit"
                [disabled]="f.invalid">Submit
        </button>
        <div class="text-right">
          <a class="link" routerLink="/">Forgot your Email?</a>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="hasToken" fxLayout="column" fxLayoutAlign="center center">
    <div class="reset-container">
      <p class="title text-center">Reset your Password</p>
      <form (ngSubmit)="resetPassword()" #resPass="ngForm" fxLayout="column">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Password"
                 type="password"
                 id="password"
                 name="password"
                 ngModel
                 required
                 appAtLeastEight
                 appAtLeastOneLower
                 appAtLeastOneUpper
                 appAtLeastOneDigit
                 appAtLeastOneSpecialCharacter
                 #password="ngModel">
        </mat-form-field>
          <div class="error-msg" *ngIf="password.invalid && password.touched">
              <p *ngIf="password.errors['required']">Password is required!</p>
              <p *ngIf="password.errors['notEight'] && (password.errors['required'] !== true)">Password should
                  be at least 8 characters long!</p>
              <p *ngIf="password.errors['notLower'] && (password.errors['required'] !== true)">Password should
                  have at least one lower case!</p>
              <p *ngIf="password.errors['notUpper'] && (password.errors['required'] !== true)">Password should
                  have at least one upper case!</p>
              <p *ngIf="password.errors['notDigit'] && (password.errors['required'] !== true)">Password should
                  have at least one digit!</p>
              <p *ngIf="password.errors['notSpecialCh'] && (password.errors['required'] !== true)">Password
                  should have at least a special character!</p>
          </div>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Confirm Password"
                 type="password"
                 id="confirmPass"
                 name="confirmPass"
                 ngModel
                 required
                 appConfirmEqualValidator="password"
                 #confirmPass="ngModel">
        </mat-form-field>
        <div class="error-msg" *ngIf="confirmPass.invalid && confirmPass.touched">
          <p *ngIf="confirmPass.errors['required']">Confirm password is required!</p>
          <p *ngIf="confirmPass.errors['notEqual'] && !confirmPass.errors['required']">Password and Confirm password does not match.</p>
        </div>
        <button mat-raised-button class="input-full-width"
                type="submit"
                [disabled]="resPass.invalid">Confirm
        </button>
      </form>
    </div>
  </div>
</div>