<div class="main-content">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="reset-container">
      <p class="title text-center">Enter your email</p>
      <form (ngSubmit)="submitEmail()" #f="ngForm" fxLayout="column">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Email"
                 type="email"
                 id="email"
                 name="email"
                 ngModel
                 required
                 email
                 #email="ngModel">
        </mat-form-field>
        <div class="error-msg" *ngIf="email.invalid && email.touched">
          <span *ngIf="email.errors['required']">Email is required!</span>
          <span *ngIf="email.errors['email']">Please enter a valid Email address.</span>
        </div>
        <button mat-raised-button class="input-full-width"
                type="submit"
                [disabled]="f.invalid">Submit
        </button>
        <div class="text-right">
          <a class="link" routerLink="/">Forgot your Email?</a>
        </div>
      </form>
    </div>
  </div>
</div>