<div fxLayout="column">
    <!--====== the following will be used to the correct confirmation message based on the status of the request (don't remove)-->
    <div *ngIf="errorGetClientInfo">
        <app-confirmation messageType="error"
                          messageText="{{errorMessageGetClientInfo}}"
                          (closeM)="closeErrorGetClientInfoMessage($event)"></app-confirmation>
    </div>
    <div *ngIf="error">
        <app-confirmation messageType="error"
                          messageText="{{errorMessage}}"
                          (closeM)="closeErrorMessage($event)"></app-confirmation>
    </div>
    <div *ngIf="success">
        <app-confirmation messageType="success"
                          messageText="Your Bank Information has been updated successfully."
                          (closeM)="closeSuccessMessage($event)"></app-confirmation>
    </div>
    <div class="title-card">
        <p class="section-title lato-regular" fxLayout="row" fxLayoutAlign="flex-start center">
            <mat-icon>account_balance</mat-icon>
            <span>Your Bank Details</span>
        </p>
    </div>
    <div class="content-card">
        <div class="empty-space"></div>
        <form class="text-center" (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
            <div class="line-between">
                <div class="input-container" fxLayout="row" fxLayoutAlign="space-between center">
                    <label class="label" for="payeeName" fxFlex="49%">Bank Payee Name:</label>
                    <div fxLayout="column" fxFlex="49%">
                        <mat-form-field floatLabel=never>
                            <input matInput
                                   type="text"
                                   id="payeeName"
                                   name="payeeName"
                                   [(ngModel)]="bankInfo.bank_payee_name"
                                   required
                                   minlength="2"
                                   maxlength="80"
                                   appOnlyTextValidator
                                   #payeeName="ngModel">
                        </mat-form-field>
                        <div class="error-msg" *ngIf="payeeName.invalid && payeeName.touched">
                            <p *ngIf="payeeName.errors['required']">Bank Payee Name is required!</p>
                            <p *ngIf="payeeName.errors['minlength']">Bank Payee Name should be at least 2 characters!</p>
                            <p *ngIf="payeeName.errors['notText'] && (payeeName.errors['required'] !== true)">Please use Basic Latin characters only.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-between">
                <div class="input-container" fxLayout="row" fxLayoutAlign="space-between center">
                    <label class="label" fxFlex="49%" for="bankName">Bank Name:</label>
                    <div fxLayout="column" fxFlex="49%">
                        <mat-form-field floatLabel=never>
                            <input matInput
                                   type="text"
                                   id="bankName"
                                   name="bankName"
                                   [(ngModel)]="bankInfo.bank_name"
                                   required
                                   minlength="2"
                                   maxlength="100"
                                   appOnlyTextValidator
                                   #bankName="ngModel">
                        </mat-form-field>
                        <div class="error-msg" *ngIf="bankName.invalid && bankName.touched">
                            <p *ngIf="bankName.errors['required']">Bank Name is required!</p>
                            <p *ngIf="bankName.errors['minlength']">Bank Name should be at least 2 characters!</p>
                            <p *ngIf="bankName.errors['notText'] && (bankName.errors['required'] !== true)">Please use Basic Latin characters only.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-between">
                <div class="input-container" fxLayout="row" fxLayoutAlign="space-between center">
                    <label class="label" fxFlex="49%" for="bankAddress">Bank Address:</label>
                    <div fxLayout="column" fxFlex="49%">
                        <mat-form-field floatLabel=never>
                            <input matInput
                                   type="text"
                                   id="bankAddress"
                                   name="bankAddress"
                                   [(ngModel)]="bankInfo.bank_address"
                                   required
                                   #bankAddress="ngModel">
                        </mat-form-field>
                        <div class="error-msg" *ngIf="bankAddress.invalid && bankAddress.touched">
                            <span *ngIf="bankAddress.errors['required']">Bank Address is required!</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-between">
                <div class="input-container" fxLayout="row" fxLayoutAlign="space-between center">
                    <label class="label" fxFlex="49%" for="bankAccNo">Bank Acc No:</label>
                    <div fxLayout="column" fxFlex="49%">
                        <mat-form-field floatLabel=never>
                            <input matInput
                                   type="text"
                                   id="bankAccNo"
                                   name="bankAccNo"
                                   [(ngModel)]="bankInfo.bank_acc_no"
                                   required
                                   minlength="7"
                                   maxlength="17"
                                   appOnlyNumbers
                                   #bankAccNo="ngModel">
                        </mat-form-field>
                        <div class="error-msg" *ngIf="bankAccNo.invalid && bankAccNo.touched">
                            <p *ngIf="bankAccNo.errors['required']">Bank Acc No is required!</p>
                            <p *ngIf="bankAccNo.errors['minlength']">Bank Acc No should be at least 7 numbers!</p>
                            <p *ngIf="bankAccNo.errors['notOnlyNumber']">Bank Acc No accepts only numbers.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-between">
                <div class="input-container" fxLayout="row" fxLayoutAlign="space-between center">
                    <label class="label" fxFlex="49%" for="bankSCode">Bank Swift Code:</label>
                    <div fxLayout="column" fxFlex="49%">
                        <mat-form-field floatLabel=never>
                            <input matInput
                                   type="text"
                                   id="bankSCode"
                                   name="bankSCode"
                                   [(ngModel)]="bankInfo.bank_swift_code"
                                   required
                                   minlength="8"
                                   maxlength="11"
                                   appOnlyNumbersLetters
                                   #bankSCode="ngModel">
                        </mat-form-field>
                        <div class="error-msg" *ngIf="bankSCode.invalid && bankSCode.touched">
                            <p *ngIf="bankSCode.errors['required']">Bank Swift Code is required!</p>
                            <p *ngIf="bankSCode.errors['minlength']">Bank Swift Code should be at least 8 numbers and letters!</p>
                            <p *ngIf="bankSCode.errors['notOnlyNumbersLetters'] && (bankSCode.errors['required'] !== true)">Bank Swift Code accepts only numbers, letters and no spaces!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-between">
                <div class="input-container" fxLayout="row" fxLayoutAlign="space-between center">
                    <label class="label" fxFlex="49%" for="iban">Bank IBAN:</label>
                    <div fxLayout="column" fxFlex="49%">
                        <mat-form-field floatLabel=never>
                            <input matInput
                                   type="text"
                                   id="iban"
                                   name="iban"
                                   [(ngModel)]="bankInfo.bank_iban"
                                   required
                                   maxlength="34"
                                   appIban
                                   #iban="ngModel">
                        </mat-form-field>
                        <div class="error-msg" *ngIf="iban.invalid && iban.touched">
                            <p *ngIf="iban.errors['required']">Bank IBAN is required!</p>
                            <p *ngIf="iban.errors['notIBAN'] && (iban.errors['required'] !== true)">Please enter a valid Bank IBAN!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-between">
                <div class="input-container" fxLayout="row" fxLayoutAlign="space-between center">
                    <label class="label" fxFlex="49%" for="country">Bank Country:</label>
                    <div fxLayout="column" fxFlex="49%">
                        <mat-form-field floatLabel=never>
                            <mat-select id="country"
                                        [(ngModel)]="currentCountry"
                                        name="country"
                                        required
                                        #country="ngModel">
                                <mat-option *ngFor="let country of countries" [value]="country.country_code">
                                    {{country['country_name']}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="error-msg" *ngIf="country.invalid && country.touched">
                            <span *ngIf="country.errors['required']">Country is required!</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-space"></div>
            <button mat-raised-button
                    type="submit"
                    [disabled]="f.invalid">
                <mat-icon>edit</mat-icon>
                <span>Submit</span>
            </button>
        </form>
    </div>
</div>