@import "../../scss-partials/variables";
@import "../../scss-partials/mixins";

.container {
  padding: 0 20px;
  width: 95%;
}

p {
  @include lato-regular();
  color: $text-first;
  font-size: 16px;
  padding: 0px 0px 18px;
  border-bottom: 1px solid #eee;
}

.profile-header {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #1a2650;

  .material-icons {
    margin-right: 20px;
  }
}

.title {
  font-size: 18px;
  color: $light-blue-primary;
}

.content {
  p {
    padding: 6px 0px 16px 150px;
  }

  span {
    margin-left: 20px;
  }
}

button {
  @include primary-button($padding: 4px 50px, $margin: 30px auto 10px);
  @include rounded(0px);
  @include lato-regular();
  display: flex;

  .material-icons {
    font-size: 18px;
    padding-bottom: 5px;
  }
}
