@import "../scss-partials/variables";
@import "../scss-partials/mixins";

.mat-horizontal-stepper-header {
  pointer-events: none;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon {
    background-color: $orange-primary;
}

.mat-step-icon-state-done.mat-step-icon {
    background-color: $green-primary;
}

.mat-horizontal-content-container {
    display: none;
}