<div class="main-content">
    <div class="code-container">
      <h3 class="text-center lato-bold code-title">Enter the 4-Digit Code</h3>
      <form class="code-form text-center" (ngSubmit)="onVerify(f)" #f="ngForm">
        <mat-form-field class="input-full-width">
          <input matInput
                 type="tel"
                 id="digitCode"
                 name="digitCode"
                 ngModel
                 required
                 #digitCode="ngModel"
                 maxlength="4">
        </mat-form-field>
        <div class="error-msg lato-regular" *ngIf="digitCode.invalid && digitCode.touched">
          <span *ngIf="digitCode.errors['required']">4-Digit Code is required!</span>
        </div>
        <button mat-raised-button class="input-full-width lato-regular"
                type="submit"
                [disabled]="f.invalid">Verify
        </button>
      </form>
      <a class="link lato-regular" routerLink="/">Resend 4-Digit Code</a>
    </div>
  </div>