<div class="text-center">
    <h3>{{firstName | titlecase}} {{lastName | titlecase}}</h3>
</div>
<p fxLayout="row" fxLayoutAlign="space-between center">
    <span>Profile completion</span>
    <span>{{profileCompletion}}%</span>
</p>
<mat-progress-bar mode="determinate" [value]="profileCompletion"></mat-progress-bar>
<div id="buttons-container" fxLayout="column" fxLayoutGap="2%">
    <a class="add-account"
       mat-raised-button
       routerLink="/profile"
       fxLayout="row"
       fxLayoutAlign="center">
        <fa name="user"></fa>
        <span>Complete Your Profile</span></a>
</div>
