@import "../scss-partials/variables";
@import "../scss-partials/mixins";

.container {
    padding-top: 20px;
}

.add-account {
  background-color: $light-blue-primary;

  &:hover {
    @include hover-color-dark($background-color: $light-blue-primary);
  }
}

//styles of the progress bar
::ng-deep .mat-progress-bar-fill::after {
  background-color: $light-blue-primary;
}

::ng-deep .mat-progress-bar-buffer {
  background: $light-blue-tenth;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}
//end styles of the progress bar

#buttons-container {
  margin-top: 20px;
}

fa {
  margin-right: 10px;
}

// Side Menu Links
.mat-list-item {
    min-width: 120%;
    margin-left: -16px;
}

mat-nav-list {
    margin-top: 40px;

    a {
    border: 1px solid #eee;
    height: 60px;
    }

    i {
        margin: 0 20px;
    }
}

.active {
    border-left: 5px solid #0059A7 !important;
}

.material-icons {
    display: flex;
    align-self: center;
    margin-right: 20px;
    font-size: 18px;
}