<p class="profile-header"><i class="material-icons">trending_up</i> Trading Knowledge and Experience</p>
<hr>
<p class="info"><i class="material-icons">info</i> Please note that your answers to the questions below will determine your leverage or trading conditions.</p>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="radio" *ngFor="let question of questions;">
        <p>{{ question.question }}</p>
        <div class="radio-buttons-wrapper">
            <label *ngFor="let choice of question['choices']; let i = index;">
                <input 
                    type="radio"
                    [name]="question.name"
                    ngModel
                    [value]="'c' + (i + 1)"
                    required>
                    <span>{{ choice }}</span>
            </label>
        </div>
    </div>
    <button mat-raised-button type="submit" [disabled]="f.invalid">Next</button>
</form>