/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//'Lato'
@import url('http://dwj7fa0133ng0.cloudfront.net/cap/theme_lp/fonts/stylesheet.css');
// 'Montserrat' -> VI
// 'Roboto'
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700|Roboto:100,300,400,700');
//'K2D' -> Thai
@import url('https://fonts.googleapis.com/css?family=K2D:100,300,400,700&subset=thai,vietnamese');
//'Noto Sans CJK TC Thin' -> CN
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,700&subset=chinese-traditional');
//mixins
@import "./app/scss-partials/mixins";

body {
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

//use the following class for every new component
.main-content {
  padding: 70px 40px;
  background-color: $site-background-color;
}

mat-form-field {
  font-size: 15px;
  margin-bottom: -15px;
  margin-top: 10px;
  @include lato-regular();
}

.error-msg {
  color: $red-primary;
  text-align: left;
  font-size: 13px;
}

.mat-form-field.ng-valid .mat-form-field-flex {
  color: $success-confirmation-text;
  background-color: $success-confirmation-bg;
}

.mat-form-field.ng-valid .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: yellow !important;
}

button[mat-raised-button],
button[mat-button],
button[mat-stroked-button],
button[mat-flat-button],
a[mat-raised-button],
a[mat-button],
a[mat-stroked-button],
a[mat-flat-button] {
  padding: 5px 0;
  font-size: 16px;
  border-radius: 0;
}

//all lang fonts
.lato-bold {
  @include lato-bold();
}

.lato-regular {
  @include lato-regular()
}

.lato-light {
  @include lato-light();
}

.lato-thin {
  @include lato-thin();
}

//cn fonts
.cn .lato-bold {
  @include lato-bold-cn();
}

.cn .lato-regular {
  @include lato-regular-cn()
}

.cn .lato-light {
  @include lato-light-cn();
}

.cn .lato-thin {
  @include lato-thin-cn();
}

//th fonts
.th .lato-bold {
  @include lato-bold-th();
}

.th .lato-regular {
  @include lato-regular-th()
}

.th .lato-light {
  @include lato-light-th();
}

.th .lato-thin {
  @include lato-thin-th();
}

//vi fonts
.vi .lato-bold {
  @include lato-bold-vi();
}

.vi .lato-regular {
  @include lato-regular-vi()
}

.vi .lato-light {
  @include lato-light-vi();
}

.vi .lato-thin {
  @include lato-thin-vi();
}

//container styles
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1600px;
}