//===main colors===
$white-color: #fff;
$black-color: #000;
$site-background-color: #f3f8ff;
$red-primary: #f44336;
$error-confirmation-bg: #fed8d5;
$error-confirmation-text: #B71C1C;
$success-confirmation-bg: #dbf8e4;
$success-confirmation-text: #123c15;
$light-blue-tenth: #e5eef6;
$dark-blue-sixth: #828a96;
$dark-blue-eighth: #b4b8c0;

// company colors
$orange-primary: #f9a21c;
$company-primary: #1a2650;
$dark-blue-primary: #05152d;
$light-blue-primary: #0059a7;
$titles: #1f7aff;
$tables-background-icons: #008ff9;
$lightener-blue-primary: #03A3E4;
$tables-background-icons2: #63d4f7;
$text-first: #5d6871;
$text-second: #606060;
$text-third: #728189;
$text-forth: #b0b0b0;
$top-footer-bg: #171921;

//old colors
$green-primary: #00C853;