@import '../../scss-partials/variables';
@import '../../scss-partials/mixins';

.active,
.active:hover {
  border-left: 5px solid $light-blue-primary;
  background-color: $dark-blue-tenth;
  width: -webkit-calc(100% - 5px) !important;
  width: -moz-calc(100% - 5px) !important;
  width: calc(100% - 5px) !important;
}

mat-nav-list a {
  border-bottom: 1px solid $bottom-gray-border;
}

mat-nav-list i {
  margin: 0 20px 0 5px;
}

#side-card,
#left-card {
  padding: 0;
}

#profile-completion {
  padding: 15px 15px 0 15px;
}
